*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
body{
  overflow: hidden;
  background: #ffff;
}
#click{
  display: none;
}

label{
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 40px;
  background: -webkit-linear-gradient(left, #cf0000, #ff0000);
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  font-size: 30px;
  color: #ffff;
  cursor: pointer;
}

label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

label i.fas{
  opacity: 0;
  pointer-events: none;
}

#click:checked ~ label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked ~ label i.far{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}

.wrapper{
  position: absolute;
  right: 20px;
  bottom: 0px;
  max-width: 100%;
  width: 300px;
  background: #ffff;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
  overflow: hidden;
}

#click:checked ~ .wrapper{
  opacity: 1;
  bottom: 90px;
  pointer-events: auto;
}

.wrapper .head-text{
  line-height: 60px;
  color: #ffff;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #cf0000, #ff0000);
  display: none;
}


.head-text.show{
  display: block
}

.wrapper .chat-menu{
  padding: 20px;
  width: 100%;
}



.chat-menu .desc-text {
    color: dimgray;
    text-align: center;
    line-height: 20px;
    font-size: 17px;
    font-weight: 500;
}

.chat-menu form{
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid lightgrey; 
  overflow: hidden;
  min-height: 200px;
}


.chat-menu form .field{
  height: 50px;
  width: 100%;
  margin-top: 10px;
}

.chat-menu form .field:last-child{
  margin-bottom: 10px;
}

form .field input,
form .field button{
  
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .field input:focus{
  border-color: #000000;
}

form .field input::placeholder{
  color: silver;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder{
  color: lightgrey;
}

.chat-menu form .field button{
  cursor: pointer;
  color: #ffff;
  text-align:center;
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(left, #cf0000, #ff0000);
  transition: all 0.3s ease;
}

.chat-area {
    position: relative;
    min-height: 370px;
    
}

.chat-area .page {
    position: absolute;
    left: -99em;
    width: 100%;
    background-color: white;
}

.chat-area .page.slide-page{
  transition: all 0.5s ease;
  left: 0em;
}

.chat-area .page.slide-right{
  transition: all 0.5s ease;
  left: 50em !important;
}

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.url {
  height: 304px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  width: 289px;
}

.userTextTitle {
    font-size: small;
    float: right;
    margin-left: 125px;
}
.chatbotTextTitle {
    font-size: small;
    float: left;
    margin-right: 90px;
}


.bot-bubble {
    position: relative;
    float: left;
    background: #ebebeb;
    border-radius: .4em;
    max-width: 175px;
    padding: 8px;
    margin-right: 90px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    font-size: small;
    line-height: 17px;
}
.bot-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-right-color: #ebebeb;
    border-left: 0;
    margin-top: -11px;
    margin-left: -11px;
}

.user-bubble {
    position: relative;
    float: right;
    background: #ea4343;
    border-radius: .4em;
    max-width: 175px;
    padding: 8px;
    margin-left: 125px;
    margin-bottom: 5px;
    color: white;
    overflow-wrap: break-word;
    font-size: small;
    line-height: 17px;
}
.user-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-left-color: #ea4343;
    border-right: 0;
    margin-top: -11px;
    margin-right: -11px;
}

.message_holder{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.text-input {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 7.98%;
    width: 83%;
    border-bottom-left-radius: 10px;
    padding-left: 4px;
    border-width: thin;
}
.button-input {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 7.98%;
    width: 17%;
    border-bottom-right-radius: 10px;
    border-width: thin;
}
