<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/design.css') }}">
    </head>
    <body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>

        <input type="checkbox" id="click">
        <label for="click">
            <i class="far fa-comment"></i>
            <i class="fas fa-times"></i>
        </label>
        <div class="wrapper">
            <div class="head-text page-title-1 show">Welcome to ChatBot!</div>
            <div class="head-text page-title-2">ChatBot - Online</div>
            <div class="chat-area">
                <div class="page page-1 slide-page">
                    <div class="chat-menu">
                        <div class="desc-text">Fill out the form below to begin chat session.</div>
                        <form action="#" id="chat-form">
                            <div class="">
                                <div class="field">
                                    <input type="text" placeholder="Your Name" required>
                                </div>
                                <div class="field">
                                    <input type="email" placeholder="Your Email Address" required>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="What May I Help You With?" required>
                                </div>
                                <div class="field">
                                    <button type="submit">Start Chat</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page page-2">
                    <div class="chat-menu2">
                            <div class="">
                                <div class="field">
                                    <h3 style='color: #ccc; font-size: 30px;'>No message yet..</h3>
                                    <div class="message_holder">
                                    </div>

                                    <script src="{{url_for('static', filename='scripts/messageHandler.js')}}"></script>

                                    <input type="text" class="message" placeholder="Messages" id="msg" name="msg" />
                                    <button onclick="printResponse()">Submit</button>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            let chatbtn = document.querySelector('#chat-form');

            chatbtn.addEventListener("submit", function (e) {
                e.preventDefault();
                document.querySelector('.page-1').classList.add("slide-right");
                document.querySelector('.page-title-1').classList.remove("show");
                document.querySelector('.page-title-2').classList.add("show");
                document.querySelector('.page-2').classList.add("slide-page");
            });
        </script>
    </body>
</html>
