 <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>

      <h3 style='color: #ccc; font-size: 30px;'>No message yet..</h3>
      <div class="message_holder">
          <!--{% if session['userLogs'] and session['responseLogs'] %}
        {% for userlog in session['userLogs'] %}
        <div><b style='color: #000'>You</b> {REMOVEME{ userlog }}</div>

        <div><b style='color: #000'>ChatBot</b> {REMOVEME{ session['responseLogs'][loop.index0] }}</div>

        {% endfor %}
        <script>$('h3').remove()</script>
        {% endif %}-->
      </div>

      <script src="{{url_for('static', filename='scripts/messageHandler.js')}}"></script>

      <input type="text" class="message" placeholder="Messages" id="msg" name="msg" />
      <button onclick="printResponse()">Submit</button>

  </body>
  </html>