 <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>

      <h3 style='color: #ccc; font-size: 30px;'>No message yet..</h3>
      <div class="message_holder">
          {% if session['userLogs'] and session['responseLogs'] %}
          {% for userlog in session['userLogs'] %}
          <div><b style='color: #000'>You</b> {{ userlog }}</div>
          
          <div><b style='color: #000'>ChatBot</b> {{ session['responseLogs'][loop.index0] }}</div>

          {% endfor %}
          <script>$('h3').remove()</script>
          {% endif %}
      </div>

      <script>
          function printResponse() {
              var imsg = $('#msg').val();
              $.ajax({
                  url: "/join",
                  type: "POST",
                  data: { msg: imsg }
              }).done(function (response) {
                  var user = "<div><b style='color: #000'>You</b>   ";
                  var bot = "<div><b style='color: #000'>ChatBot</b>  ";

                  message = response.result;

                  //if (message.inputType == "question") {
                      user += message.message + '</div>';
                      bot += message.response + '</div>';
                  //}
                
                  $('h3').remove()
                  $('div.message_holder').append(user);
                  $('div.message_holder').append(bot);
              });
          };
      </script>

      <input type="text" class="message" placeholder="Messages" id="msg" name="msg" />
      <button onclick="printResponse()">Submit</button>

  </body>
  </html>